---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Paper & Pen Games Printer</title>
  </head>
  <body class="mx-auto my-0 max-w-4xl">
    <article class="px-4 py-16 sm:px-6 lg:px-8 lg:py-20 mx-auto max-w-4xl prose lg:prose-xl">
      <slot />
    </article>
  </body>
</html>
